<div class="card">
  <div class="card-header">
    {{pageTitle | langue}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="../../../../assets/images/logo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">{{ 'home.developed' | langue}}</div>
      <div class="text-center">
        <h3>Irenee du Gardin</h3>
      </div>
    </div>
  </div>
</div>