@use "../../palette.scss" as styles;
@import '../../../app.component.scss';

.dropdown-list {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  height: 0;
  position: relative;
  overflow-y: visible;

  >button{
    border-top-width: 0;
    border-bottom-width: 0;
    height: 100%;
    &:last-child{
      border-bottom-width: 1px;
      border-radius: 0 0 1rem 1rem;
    }
  }
}

.half-form{
  width: 12rem;
}