<section class="flex justify-spaced" xmlns="http://www.w3.org/1999/html">
    <div class=" col-3">
        <span><b>{{'service.name' | langue}} :</b> {{candidate?.service?.nom | langue}}</span>
        <br><br>
        <span *ngIf="candidate?.service?.description">
            <b>{{"service.description" | langue}} :</b>
            <p>
            {{candidate?.service?.description | langue}}
            </p>
        </span>
        <div class="flex">
            <button
                    class="bubble hover-0 clickable {{(candidate && candidate.validated!=='valid')?'colored':''}}"
                    (click)="validate()"
            >{{'candidate.validate' | langue}}</button>
            <br>
        </div>
        <br>
        <div class="flex">
            <button
                    class="bubble hover-0 clickable {{(candidate && candidate.validated!=='reject')?'colored-red':''}}"
                    (click)="reject()"
            >{{'candidate.reject' | langue}}</button>
            <br>
        </div>
        <br>
        <div *ngIf="(answerRubric?.content?.length??0)>0">
            <epv-rubric
                    [name_class]="'text-start'"
                    [title_class]="'text-start text-size-normal bolder'"
                    [line]="false"
                    [content]="answerRubric"
            ></epv-rubric>
            <br>
        </div>
    </div>
    <div class = "col-3">
        <div class="flex justify-start">
            <div>
                <epv-rubric-list
                        [items]="userRubric"
                ></epv-rubric-list>
                <epv-line [short]="true"></epv-line>
            </div>
        </div>
    </div>
    <div class = "flex col-4">
        <div style="width: 35rem">
            <epv-chat
                    [target]="chat_target"
            ></epv-chat>
        </div>
    </div>
    <br>
</section>

