<section class="flex justify-spaced" xmlns="http://www.w3.org/1999/html">
    <div class=" col-3 flex-shrink-light">
        <span><b>{{'service.name' | langue}} :</b> {{candidate?.service?.nom | langue}}</span>
        <br><br>
        <span *ngIf="candidate?.service?.description">
            <b>{{"service.description" | langue}} :</b>
            <p>
            {{candidate?.service?.description | langue}}
            </p>
        </span>
        <br>
        <div>
            <epv-rubric
                [name_class]="'text-start'"
                [title_class]="'text-start text-size-normal bolder'"
                [line]="false"
                [content]="answerRubric"
            ></epv-rubric>
            <br>
            <div class="flex">
                <button
                        class="bubble hover-0 clickable colored"
                        [routerLink]="'/'+EpvPath.visitor.candidated.edit.replace(':id', candidate?.id?.toString()??'0')"
                >{{'rubric.edit' | langue}}</button>
                <br>
            </div>
        </div>
    </div>
    <div class = "flex col-7 flex-shrink-light">
        <div style="width: 35rem">
            <epv-chat
                [target]="chat_target"
            ></epv-chat>
        </div>
    </div>
    <div class = "col-5 flex-shrink-2">
    </div>
</section>

