<section class="flex">
    <div>
        <epv-rubric-list
                [items]="benefit_rubric"
        ></epv-rubric-list>
        <epv-line [short]="true"></epv-line>
        <br>
        <div class="flex">
            <button
                class = 'bubble hover-1'
                [routerLink]="'/'+EpvPath.visitor.benefit.edit">
                {{'rubric.edit'|langue}}
            </button>
        </div>
    </div>
    <div class = "flex col-7 flex-shrink-light">
        <div style="width: 35rem">
            <epv-chat
                    [target]="chat_target"
            ></epv-chat>
        </div>
    </div>
</section>