<ng-container *ngIf="items">
    <h3 *ngIf="items.title" [class]="justify">{{ items.title | langue }}</h3>
    <ng-container *ngFor="let rubric of items.content">
        <epv-line [short]="true"></epv-line>
        <div [class]="rubric.online?'flex justify-spaced':''">
            <h4 *ngIf="rubric.title">{{ rubric.title | langue }}</h4>
            <div *ngFor="let item of rubric.content" class="form-element">
                <epv-form-field [field]="item"></epv-form-field>
            </div>
        </div>
    </ng-container>
</ng-container>
