$color-blanc: #fff;
$color-noir: #000;
$color-gris: #666;
$color-colored: #e69f45;
$color-colored-gris: #a87232;
$color-error: #ba2121;
$color-blanc-gris-colored: #f1e4bfff;
$color-blanc-gris-1: #f1ebdbff;
$color-blanc-gris-0: #eee;
