<section class = "flex line-container">
    <div class = "row w-100 flex">
        <div *ngFor="let cont of content" [class]=divide_space(4)>
            <a [routerLink]="cont.link">
                <button class="card-service">{{cont.value | langue}}</button>
            </a>
        </div>
    </div>
</section>
<ng-container [ngSwitch]="status">
    <epv-visitor-home *ngSwitchCase="'visitor'"></epv-visitor-home>
    <epv-rh-home *ngSwitchCase="'rh'"></epv-rh-home>
    <epv-admin-home *ngSwitchCase="'admin'"></epv-admin-home>
</ng-container>
<div class="card">
    <div class="card-header">
        {{pageTitle | langue}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">{{'home.developed' | langue}}</div>
            <div class="text-center">
                <h4>Irenee DU GARDIN & Lyess BOUFADEN</h4>
            </div>
        </div>
    </div>
</div>